*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-container{
    position: relative;
}

.img-item{
    display: none;
    width: 50vw;
    height: 50vh;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow i{
    position: absolute;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
}

.back{
    bottom: 30px;
}

.forward{
    top: 30px;
    display: none;
}

.hide{
    display: none;
}

.carousel-container .show{
    display: block;
}